.cellPhoneBrands {
    padding: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
}

    .listCompatibilities {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 15px 35px;
    }
        .cellPhoneBrands__list {
            padding: 0;
        }
        .itemBrands {
            list-style: none;
            font-family: "Roboto", sans-serif;
        }
        .itemBrands__shortcut {
            font-size: 12px;
            color: #000;
            transition: all 0.3s ease-in-out;
            font-weight: 400;
        }
            .itemBrands__name {
                font-size: 12px;
                color: #2359aa;
                transition: all 0.3s ease-in-out;
                font-weight: 400;
            }
            .itemBrands__name:hover {
                cursor: pointer;
                color: #02b143;
            }


@media screen and (min-width: 768px) {
    .cellPhoneBrands__list {
        max-width: 600px;
        display: flex;
        justify-content: space-around;
        margin-inline: auto;
        padding-block: 0;
    }
    .itemBrands__name {
        font-size: 17px
    }
    .itemBrands__shortcut {
        font-size: 17px
    }
}
