.footerTablePlus {
    position: fixed;
    backdrop-filter: blur(2px);
    width: calc(100% - 60px);
    height: 40px;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
}

.footerTablePlus__suggestion {
    font-size: 14px;
    text-transform: uppercase;
    background: #02b143;
    color: #fff;
    font-weight: 200;
    opacity: .5;
    padding-inline: 15px;
    padding-block: 1px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
}
.footerTablePlus__suggestion:hover {
    opacity: 1;
    cursor: pointer;
}

.footerTablePlus__upButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #02b143;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: 0;
    opacity: .5;
}

.footerTablePlus__upButton:hover {
    opacity: 1;
    cursor: pointer;
}

.footerTablePlus__upIcon {
    font-size: 40px;
}

@media screen and (min-width: 768px) {
    .footerTablePlus {
        width: calc(100% - 400px);
        padding-inline: 200px;
        height: 60px;
    }
    .footerTablePlus__suggestion {
        font-size: 17px;
        padding-inline: 20px;
        padding-block: 5px;
        border-radius: 20px;
        width: 100px;
        font-weight: 400;
    }
    .footerTablePlus__upButton {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}
