.mainTablePlus {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    min-height: 100vh;
    padding-bottom: 50px;
}
.mainTablePlusLoading {
    display: block;
    margin-inline: auto;
    max-width: 100px;
}
.mainTablePlus__searchBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .mainTablePlus__searchBox {
        max-width: 500px;
    }
    .mainTablePlus {
        padding-bottom: 70px;
    }
}
