.compatibilitiesTitleGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding-block: 5px;
    border-radius: 8px;
    margin-inline: auto;
    margin-bottom: 15px;
}

    .compatibilitiesTitleGroup__title {
        color: #fff;
        font-family: "Loja", serif;
        font-size: 17px;
        text-transform: uppercase;
        display: flex;
        margin: 0 0 0 10px;
    }

@media screen and (min-width: 768px) {
    .compatibilitiesTitleGroup__title {
        font-size: 23px;
    }
    .compatibilitiesTitleGroup {
        padding-block: 10px;
    }
}