.searchInput {
    width: 75%;
    height: 44px;
    border: 1px solid #cecece;
    color: #cecece;
    padding-left: 10px;
    box-shadow: rgba(149, 157, 165, 0.02) 0 8px 24px;
    outline: none;
    font-weight: lighter;
}

::-webkit-input-placeholder {
    color: rgba(2, 2, 2, 0.15);
    font-weight: 100;
    font-size: 15px;
}


