.searchInput {
    width: 75%;
    height: 35px;
    border: 1px solid #cecece;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    box-shadow: rgba(149, 157, 165, 0.02) 0 8px 24px;
    outline: none;
    font-weight: lighter;
}

.searchInput__cleaner {
    position: absolute;
    margin: 0;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: rgba(2, 2, 2, 0.33);
    font-weight: 100;
}

@media screen and (min-width: 768px) {
    ::-webkit-input-placeholder {
        font-size: 15px;
    }
    .searchInput {
        height: 44px;
    }
    .searchInput__cleaner {
        top: 14px;
    }
}
